body {
	background-color:  #FFFFFF;
	font-family: Tw cent mt;
	font-family: 12px;

}

.main {
	background-color: #000;
	width: 750px;
	margin: 0 auto;
	border:1px  #000000;
}

.clear {
	clear: both;
	float: none;
}

.header {
	background-color: none;
}

.menu-atas {
	background-color: #cccccc;
	padding: 11px;
	padding-bottom: 18px;
	height: 10px;
}

.menu-atas li {
	display: inline;
}

.menu-atas li a {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-right: 20px;
	margin-left: 5px;
	text-decoration: none;
}

.menu-atas li a:hover {
	color: #bf1b21;
}

.menu-kiri {
	margin:5px;
	width: 150px;
	float: left; 
} 

.menu-tengah {
	margin:5px;
	width: 579px;
	float: left; 
} 

#bg-menu {
	background-color: #ccc;
	border:1px solid #333;
	padding:7px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	height: 11px;
}

#content-menu {
	background-color: #eeeeee;
	border:1px solid #333;
	line-height: 16px;
	padding: 8px;
	margin-bottom: 10px;
	text-align: justify;
}

#content-menu-tengah {
	background-color: #eeeeee;
	border:1px solid #333;
	line-height: 16px;
	padding: 8px;
	margin-bottom: 5px;
	text-align: center;
}


.footer {
	background-color: none;
}

TH {
	color: #FFFFFF;
	background-color: #336699;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	font-size: 9pt;
}

TD {
	color: red;
	background-color: #E6E6FA;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	font-size: 9pt;
}
